build-qt/build/
build-qt/params/
build-qt/ROC/
build-qt/references/
build-qt/训练集/
build-qt/*.idx*
build-qt/*ubyte

实验报告.md
实验要求 - 2026(2).doc
*.png
*.jpg
*.jpeg

*.exe
*.dll
*.a
*.obj
*.o
*.qm
*.log
*.cache
*.yaml
*.ninja_*
*.lock

.qt/
.vscode/
.idea/
